<div>{{a}}</div>
<a class="btn btn-info" (click)="onclick()">click</a>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="http://source.unsplash.com/random/600x200" class="d-block w-100" alt="..." height="470">
      </div>
      <div class="carousel-item">
        <img src="http://source.unsplash.com/random/601x200" class="d-block w-100" alt="..." height="470">
      </div>
      <div class="carousel-item">
        <img src="http://source.unsplash.com/random/599x200" class="d-block w-100" alt="..." height="470">
      </div>
    </div>
  </div>